<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="../static/logo.jpg" type="image/png">
		<title>CSB | Cover</title>
		<!-- Custom styles for this template -->
		<link href="../static/dashboard.css" rel="stylesheet">
	</head>

	<div class="topnav">
	  <a href="/about">About</a>
	  <a href="/download">Downlaod</a>
	  <a class="active" href="/dashboard">Dashboard</a>
	  <a href="/">Home</a>
	</div>

	{% block map %}{% endblock %}

	{% block fig1 %}{% endblock %}

	{% block fig2 %}{% endblock %}

	{% block fig3 %}{% endblock %}



	<div class="buttons" style="width: 700px; height:400px">
		<form class="select-year" style="width: 700px; height:100px" method="post" action="year">
			<br />
			<label for="year-select">Please select a year for analysis: </label>
			<select id="year-select" name="year-value">
				<option value="">--Please choose an option--</option>
				<option value=" 1980 "> 1980 </option>
				<option value=" 1981 "> 1981 </option>
				<option value=" 1982 "> 1982 </option>
				<option value=" 1983 "> 1983 </option>
				<option value=" 1984 "> 1984 </option>
				<option value=" 1985 "> 1985 </option>
				<option value=" 1986 "> 1986 </option>
				<option value=" 1987 "> 1987 </option>
				<option value=" 1988 "> 1988 </option>
				<option value=" 1989 "> 1989 </option>
				<option value=" 1990 "> 1990 </option>
				<option value=" 1991 "> 1991 </option>
				<option value=" 1992 "> 1992 </option>
				<option value=" 1993 "> 1993 </option>
				<option value=" 1994 "> 1994 </option>
				<option value=" 1995 "> 1995 </option>
				<option value=" 1996 "> 1996 </option>
				<option value=" 1997 "> 1997 </option>
				<option value=" 1998 "> 1998 </option>
				<option value=" 1999 "> 1999 </option>
				<option value=" 2000 "> 2000 </option>
				<option value=" 2001 "> 2001 </option>
				<option value=" 2002 "> 2002 </option>
				<option value=" 2003 "> 2003 </option>
				<option value=" 2004 "> 2004 </option>
				<option value=" 2005 "> 2005 </option>
				<option value=" 2006 "> 2006 </option>
				<option value=" 2007 "> 2007 </option>
				<option value=" 2008 "> 2008 </option>
				<option value=" 2009 "> 2009 </option>
				<option value=" 2010 "> 2010 </option>
				<option value=" 2011 "> 2011 </option>
				<option value=" 2012 "> 2012 </option>
				<option value=" 2013 "> 2013 </option>
			</select>
			<br />
			<button class="btn btn-year"> Figure Generation </button>
		</form>

		<form class="select-country" style="width: 700px; height:100px" method="post" action="country">
			<br />
			<label for="country-select">Please select a country for analysis: </label>
			<select id="country-select" name="country-value">
				<option value="">--Please choose an option--</option>
				<option value="India">India</option>
<option value="China">China</option>
<option value="United Kingdom of Great Britain and Northern Ireland">United Kingdom of Great Britain and Northern Ireland</option>
<option value="Philippines">Philippines</option>
<option value="Pakistan">Pakistan</option>
<option value="United States of America">United States of America</option>
<option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="Republic of Korea">Republic of Korea</option>
<option value="Poland">Poland</option>
<option value="Lebanon">Lebanon</option>
<option value="France">France</option>
<option value="Jamaica">Jamaica</option>
<option value="Viet Nam">Viet Nam</option>
<option value="Romania">Romania</option>
<option value="Haiti">Haiti</option>
<option value="Guyana">Guyana</option>
<option value="Portugal">Portugal</option>
<option value="Egypt">Egypt</option>
<option value="Morocco">Morocco</option>
<option value="Colombia">Colombia</option>
<option value="Iraq">Iraq</option>
<option value="Algeria">Algeria</option>
<option value="Israel">Israel</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Germany">Germany</option>
<option value="Russian Federation">Russian Federation</option>
<option value="Mexico">Mexico</option>
<option value="Afghanistan">Afghanistan</option>
<option value="El Salvador">El Salvador</option>
<option value="Ukraine">Ukraine</option>
<option value="Trinidad and Tobago">Trinidad and Tobago</option>
<option value="Somalia">Somalia</option>
<option value="South Africa">South Africa</option>
<option value="Nigeria">Nigeria</option>
<option value="Jordan">Jordan</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Peru">Peru</option>
<option value="Turkey">Turkey</option>
<option value="Syrian Arab Republic">Syrian Arab Republic</option>
<option value="Brazil">Brazil</option>
<option value="Japan">Japan</option>
<option value="Netherlands">Netherlands</option>
<option value="Ghana">Ghana</option>
<option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
<option value="Malaysia">Malaysia</option>
<option value="Australia">Australia</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Italy">Italy</option>
<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option value="Chile">Chile</option>
<option value="Venezuela (Bolivarian Republic of)">Venezuela (Bolivarian Republic of)</option>
<option value="Fiji">Fiji</option>
<option value="Cuba">Cuba</option>
<option value="Argentina">Argentina</option>
<option value="Guatemala">Guatemala</option>
<option value="Sudan">Sudan</option>
<option value="Tunisia">Tunisia</option>
<option value="Kenya">Kenya</option>
<option value="Ireland">Ireland</option>
<option value="Hungary">Hungary</option>
<option value="Cameroon">Cameroon</option>
<option value="Albania">Albania</option>
<option value="Mauritius">Mauritius</option>
<option value="Switzerland">Switzerland</option>
<option value="Republic of Moldova">Republic of Moldova</option>
<option value="Singapore">Singapore</option>
<option value="Indonesia">Indonesia</option>
<option value="United Republic of Tanzania">United Republic of Tanzania</option>
<option value="Greece">Greece</option>
<option value="Ecuador">Ecuador</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="Belgium">Belgium</option>
<option value="Eritrea">Eritrea</option>
<option value="New Zealand">New Zealand</option>
<option value="Nepal">Nepal</option>
<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
<option value="China, Hong Kong Special Administrative Region">China, Hong Kong Special Administrative Region</option>
<option value="Myanmar">Myanmar</option>
<option value="Thailand">Thailand</option>
<option value="Grenada">Grenada</option>
<option value="Zimbabwe">Zimbabwe</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Côte d'Ivoire">Côte d'Ivoire</option>
<option value="Burundi">Burundi</option>
<option value="Croatia">Croatia</option>
<option value="Belarus">Belarus</option>
<option value="Honduras">Honduras</option>
<option value="Senegal">Senegal</option>
<option value="Barbados">Barbados</option>
<option value="Rwanda">Rwanda</option>
<option value="Cambodia">Cambodia</option>
<option value="State of Palestine">State of Palestine</option>
<option value="Slovakia">Slovakia</option>
<option value="Bhutan">Bhutan</option>
<option value="Sweden">Sweden</option>
<option value="Spain">Spain</option>
<option value="Austria">Austria</option>
<option value="Libya">Libya</option>
<option value="Guinea">Guinea</option>
<option value="Saint Lucia">Saint Lucia</option>
<option value="Uruguay">Uruguay</option>
<option value="The former Yugoslav Republic of Macedonia">The former Yugoslav Republic of Macedonia</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Denmark">Denmark</option>
<option value="Togo">Togo</option>
<option value="Uganda">Uganda</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="Armenia">Armenia</option>
<option value="Bolivia (Plurinational State of)">Bolivia (Plurinational State of)</option>
<option value="Panama">Panama</option>
<option value="Yemen">Yemen</option>
<option value="Benin">Benin</option>
<option value="Finland">Finland</option>
<option value="Liberia">Liberia</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Dominica">Dominica</option>
<option value="Lithuania">Lithuania</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Norway">Norway</option>
<option value="Latvia">Latvia</option>
<option value="Madagascar">Madagascar</option>
<option value="Mali">Mali</option>
<option value="Angola">Angola</option>
<option value="Georgia">Georgia</option>
<option value="Burkina Faso">Burkina Faso</option>
<option value="Kuwait">Kuwait</option>
<option value="Paraguay">Paraguay</option>
<option value="Serbia">Serbia</option>
<option value="Congo">Congo</option>
<option value="Zambia">Zambia</option>
<option value="Chad">Chad</option>
<option value="Djibouti">Djibouti</option>
<option value="Malta">Malta</option>
<option value="Seychelles">Seychelles</option>
<option value="Cyprus">Cyprus</option>
<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
<option value="Belize">Belize</option>
<option value="Mauritania">Mauritania</option>
<option value="Antigua and Barbuda">Antigua and Barbuda</option>
<option value="Niger">Niger</option>
<option value="Mongolia">Mongolia</option>
<option value="Gabon">Gabon</option>
<option value="Estonia">Estonia</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="Bahamas">Bahamas</option>
<option value="Suriname">Suriname</option>
<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
<option value="Gambia">Gambia</option>
<option value="Brunei Darussalam">Brunei Darussalam</option>
<option value="Iceland">Iceland</option>
<option value="Central African Republic">Central African Republic</option>
<option value="Slovenia">Slovenia</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Bahrain">Bahrain</option>
<option value="Botswana">Botswana</option>
<option value="Democratic People's Republic of Korea">Democratic People's Republic of Korea</option>
<option value="Namibia">Namibia</option>
<option value="Turkmenistan">Turkmenistan</option>
<option value="Malawi">Malawi</option>
<option value="China, Macao Special Administrative Region">China, Macao Special Administrative Region</option>
<option value="Oman">Oman</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Cabo Verde">Cabo Verde</option>
<option value="Comoros">Comoros</option>
<option value="Swaziland">Swaziland</option>
<option value="Mozambique">Mozambique</option>
<option value="Qatar">Qatar</option>
<option value="Tonga">Tonga</option>
<option value="Lesotho">Lesotho</option>
<option value="Montenegro">Montenegro</option>
<option value="Guinea-Bissau">Guinea-Bissau</option>
<option value="Samoa">Samoa</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Equatorial Guinea">Equatorial Guinea</option>
<option value="Liechtenstein">Liechtenstein</option>
<option value="Maldives">Maldives</option>
<option value="Monaco">Monaco</option>
<option value="Canada">Canada</option>
<option value="Nauru">Nauru</option>
<option value="Andorra">Andorra</option>
<option value="Kiribati">Kiribati</option>
<option value="Vanuatu">Vanuatu</option>
<option value="Sao Tome and Principe">Sao Tome and Principe</option>
<option value="Tuvalu">Tuvalu</option>
<option value="American Samoa">American Samoa</option>
<option value="San Marino">San Marino</option>
<option value="New Caledonia">New Caledonia</option>
<option value="Marshall Islands">Marshall Islands</option>
<option value="Western Sahara">Western Sahara</option>
<option value="Palau">Palau</option>

			</select>
			<br />
			<button class="btn btn-country"> Figure Generation </button>
		</form>

		<form class="comparison" style="width: 700px; height:100px" method="post" action="comparison">
			<br />
			<label for="country1forcomparison-select">Please select a country for analysis: </label>
			<select id="country1forcomparison-select" name="country-value1">
				<option value="">--Please choose an option--</option>
				<option value="India">India</option>
<option value="China">China</option>
<option value="United Kingdom of Great Britain and Northern Ireland">United Kingdom of Great Britain and Northern Ireland</option>
<option value="Philippines">Philippines</option>
<option value="Pakistan">Pakistan</option>
<option value="United States of America">United States of America</option>
<option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="Republic of Korea">Republic of Korea</option>
<option value="Poland">Poland</option>
<option value="Lebanon">Lebanon</option>
<option value="France">France</option>
<option value="Jamaica">Jamaica</option>
<option value="Viet Nam">Viet Nam</option>
<option value="Romania">Romania</option>
<option value="Haiti">Haiti</option>
<option value="Guyana">Guyana</option>
<option value="Portugal">Portugal</option>
<option value="Egypt">Egypt</option>
<option value="Morocco">Morocco</option>
<option value="Colombia">Colombia</option>
<option value="Iraq">Iraq</option>
<option value="Algeria">Algeria</option>
<option value="Israel">Israel</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Germany">Germany</option>
<option value="Russian Federation">Russian Federation</option>
<option value="Mexico">Mexico</option>
<option value="Afghanistan">Afghanistan</option>
<option value="El Salvador">El Salvador</option>
<option value="Ukraine">Ukraine</option>
<option value="Trinidad and Tobago">Trinidad and Tobago</option>
<option value="Somalia">Somalia</option>
<option value="South Africa">South Africa</option>
<option value="Nigeria">Nigeria</option>
<option value="Jordan">Jordan</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Peru">Peru</option>
<option value="Turkey">Turkey</option>
<option value="Syrian Arab Republic">Syrian Arab Republic</option>
<option value="Brazil">Brazil</option>
<option value="Japan">Japan</option>
<option value="Netherlands">Netherlands</option>
<option value="Ghana">Ghana</option>
<option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
<option value="Malaysia">Malaysia</option>
<option value="Australia">Australia</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Italy">Italy</option>
<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option value="Chile">Chile</option>
<option value="Venezuela (Bolivarian Republic of)">Venezuela (Bolivarian Republic of)</option>
<option value="Fiji">Fiji</option>
<option value="Cuba">Cuba</option>
<option value="Argentina">Argentina</option>
<option value="Guatemala">Guatemala</option>
<option value="Sudan">Sudan</option>
<option value="Tunisia">Tunisia</option>
<option value="Kenya">Kenya</option>
<option value="Ireland">Ireland</option>
<option value="Hungary">Hungary</option>
<option value="Cameroon">Cameroon</option>
<option value="Albania">Albania</option>
<option value="Mauritius">Mauritius</option>
<option value="Switzerland">Switzerland</option>
<option value="Republic of Moldova">Republic of Moldova</option>
<option value="Singapore">Singapore</option>
<option value="Indonesia">Indonesia</option>
<option value="United Republic of Tanzania">United Republic of Tanzania</option>
<option value="Greece">Greece</option>
<option value="Ecuador">Ecuador</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="Belgium">Belgium</option>
<option value="Eritrea">Eritrea</option>
<option value="New Zealand">New Zealand</option>
<option value="Nepal">Nepal</option>
<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
<option value="China, Hong Kong Special Administrative Region">China, Hong Kong Special Administrative Region</option>
<option value="Myanmar">Myanmar</option>
<option value="Thailand">Thailand</option>
<option value="Grenada">Grenada</option>
<option value="Zimbabwe">Zimbabwe</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Côte d'Ivoire">Côte d'Ivoire</option>
<option value="Burundi">Burundi</option>
<option value="Croatia">Croatia</option>
<option value="Belarus">Belarus</option>
<option value="Honduras">Honduras</option>
<option value="Senegal">Senegal</option>
<option value="Barbados">Barbados</option>
<option value="Rwanda">Rwanda</option>
<option value="Cambodia">Cambodia</option>
<option value="State of Palestine">State of Palestine</option>
<option value="Slovakia">Slovakia</option>
<option value="Bhutan">Bhutan</option>
<option value="Sweden">Sweden</option>
<option value="Spain">Spain</option>
<option value="Austria">Austria</option>
<option value="Libya">Libya</option>
<option value="Guinea">Guinea</option>
<option value="Saint Lucia">Saint Lucia</option>
<option value="Uruguay">Uruguay</option>
<option value="The former Yugoslav Republic of Macedonia">The former Yugoslav Republic of Macedonia</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Denmark">Denmark</option>
<option value="Togo">Togo</option>
<option value="Uganda">Uganda</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="Armenia">Armenia</option>
<option value="Bolivia (Plurinational State of)">Bolivia (Plurinational State of)</option>
<option value="Panama">Panama</option>
<option value="Yemen">Yemen</option>
<option value="Benin">Benin</option>
<option value="Finland">Finland</option>
<option value="Liberia">Liberia</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Dominica">Dominica</option>
<option value="Lithuania">Lithuania</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Norway">Norway</option>
<option value="Latvia">Latvia</option>
<option value="Madagascar">Madagascar</option>
<option value="Mali">Mali</option>
<option value="Angola">Angola</option>
<option value="Georgia">Georgia</option>
<option value="Burkina Faso">Burkina Faso</option>
<option value="Kuwait">Kuwait</option>
<option value="Paraguay">Paraguay</option>
<option value="Serbia">Serbia</option>
<option value="Congo">Congo</option>
<option value="Zambia">Zambia</option>
<option value="Chad">Chad</option>
<option value="Djibouti">Djibouti</option>
<option value="Malta">Malta</option>
<option value="Seychelles">Seychelles</option>
<option value="Cyprus">Cyprus</option>
<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
<option value="Belize">Belize</option>
<option value="Mauritania">Mauritania</option>
<option value="Antigua and Barbuda">Antigua and Barbuda</option>
<option value="Niger">Niger</option>
<option value="Mongolia">Mongolia</option>
<option value="Gabon">Gabon</option>
<option value="Estonia">Estonia</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="Bahamas">Bahamas</option>
<option value="Suriname">Suriname</option>
<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
<option value="Gambia">Gambia</option>
<option value="Brunei Darussalam">Brunei Darussalam</option>
<option value="Iceland">Iceland</option>
<option value="Central African Republic">Central African Republic</option>
<option value="Slovenia">Slovenia</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Bahrain">Bahrain</option>
<option value="Botswana">Botswana</option>
<option value="Democratic People's Republic of Korea">Democratic People's Republic of Korea</option>
<option value="Namibia">Namibia</option>
<option value="Turkmenistan">Turkmenistan</option>
<option value="Malawi">Malawi</option>
<option value="China, Macao Special Administrative Region">China, Macao Special Administrative Region</option>
<option value="Oman">Oman</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Cabo Verde">Cabo Verde</option>
<option value="Comoros">Comoros</option>
<option value="Swaziland">Swaziland</option>
<option value="Mozambique">Mozambique</option>
<option value="Qatar">Qatar</option>
<option value="Tonga">Tonga</option>
<option value="Lesotho">Lesotho</option>
<option value="Montenegro">Montenegro</option>
<option value="Guinea-Bissau">Guinea-Bissau</option>
<option value="Samoa">Samoa</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Equatorial Guinea">Equatorial Guinea</option>
<option value="Liechtenstein">Liechtenstein</option>
<option value="Maldives">Maldives</option>
<option value="Monaco">Monaco</option>
<option value="Canada">Canada</option>
<option value="Nauru">Nauru</option>
<option value="Andorra">Andorra</option>
<option value="Kiribati">Kiribati</option>
<option value="Vanuatu">Vanuatu</option>
<option value="Sao Tome and Principe">Sao Tome and Principe</option>
<option value="Tuvalu">Tuvalu</option>
<option value="American Samoa">American Samoa</option>
<option value="San Marino">San Marino</option>
<option value="New Caledonia">New Caledonia</option>
<option value="Marshall Islands">Marshall Islands</option>
<option value="Western Sahara">Western Sahara</option>
<option value="Palau">Palau</option>
			</select>
			<br />
			<label for="country2forcomparison-select">Please select another country for comparison: </label>
			<select id="country2forcomparison-select" name="country-value2">
				<option value="">--Please choose an option--</option>
				<option value="India">India</option>
<option value="China">China</option>
<option value="United Kingdom of Great Britain and Northern Ireland">United Kingdom of Great Britain and Northern Ireland</option>
<option value="Philippines">Philippines</option>
<option value="Pakistan">Pakistan</option>
<option value="United States of America">United States of America</option>
<option value="Iran (Islamic Republic of)">Iran (Islamic Republic of)</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="Republic of Korea">Republic of Korea</option>
<option value="Poland">Poland</option>
<option value="Lebanon">Lebanon</option>
<option value="France">France</option>
<option value="Jamaica">Jamaica</option>
<option value="Viet Nam">Viet Nam</option>
<option value="Romania">Romania</option>
<option value="Haiti">Haiti</option>
<option value="Guyana">Guyana</option>
<option value="Portugal">Portugal</option>
<option value="Egypt">Egypt</option>
<option value="Morocco">Morocco</option>
<option value="Colombia">Colombia</option>
<option value="Iraq">Iraq</option>
<option value="Algeria">Algeria</option>
<option value="Israel">Israel</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Germany">Germany</option>
<option value="Russian Federation">Russian Federation</option>
<option value="Mexico">Mexico</option>
<option value="Afghanistan">Afghanistan</option>
<option value="El Salvador">El Salvador</option>
<option value="Ukraine">Ukraine</option>
<option value="Trinidad and Tobago">Trinidad and Tobago</option>
<option value="Somalia">Somalia</option>
<option value="South Africa">South Africa</option>
<option value="Nigeria">Nigeria</option>
<option value="Jordan">Jordan</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Peru">Peru</option>
<option value="Turkey">Turkey</option>
<option value="Syrian Arab Republic">Syrian Arab Republic</option>
<option value="Brazil">Brazil</option>
<option value="Japan">Japan</option>
<option value="Netherlands">Netherlands</option>
<option value="Ghana">Ghana</option>
<option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
<option value="Malaysia">Malaysia</option>
<option value="Australia">Australia</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Italy">Italy</option>
<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option value="Chile">Chile</option>
<option value="Venezuela (Bolivarian Republic of)">Venezuela (Bolivarian Republic of)</option>
<option value="Fiji">Fiji</option>
<option value="Cuba">Cuba</option>
<option value="Argentina">Argentina</option>
<option value="Guatemala">Guatemala</option>
<option value="Sudan">Sudan</option>
<option value="Tunisia">Tunisia</option>
<option value="Kenya">Kenya</option>
<option value="Ireland">Ireland</option>
<option value="Hungary">Hungary</option>
<option value="Cameroon">Cameroon</option>
<option value="Albania">Albania</option>
<option value="Mauritius">Mauritius</option>
<option value="Switzerland">Switzerland</option>
<option value="Republic of Moldova">Republic of Moldova</option>
<option value="Singapore">Singapore</option>
<option value="Indonesia">Indonesia</option>
<option value="United Republic of Tanzania">United Republic of Tanzania</option>
<option value="Greece">Greece</option>
<option value="Ecuador">Ecuador</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="Belgium">Belgium</option>
<option value="Eritrea">Eritrea</option>
<option value="New Zealand">New Zealand</option>
<option value="Nepal">Nepal</option>
<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
<option value="China, Hong Kong Special Administrative Region">China, Hong Kong Special Administrative Region</option>
<option value="Myanmar">Myanmar</option>
<option value="Thailand">Thailand</option>
<option value="Grenada">Grenada</option>
<option value="Zimbabwe">Zimbabwe</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Côte d'Ivoire">Côte d'Ivoire</option>
<option value="Burundi">Burundi</option>
<option value="Croatia">Croatia</option>
<option value="Belarus">Belarus</option>
<option value="Honduras">Honduras</option>
<option value="Senegal">Senegal</option>
<option value="Barbados">Barbados</option>
<option value="Rwanda">Rwanda</option>
<option value="Cambodia">Cambodia</option>
<option value="State of Palestine">State of Palestine</option>
<option value="Slovakia">Slovakia</option>
<option value="Bhutan">Bhutan</option>
<option value="Sweden">Sweden</option>
<option value="Spain">Spain</option>
<option value="Austria">Austria</option>
<option value="Libya">Libya</option>
<option value="Guinea">Guinea</option>
<option value="Saint Lucia">Saint Lucia</option>
<option value="Uruguay">Uruguay</option>
<option value="The former Yugoslav Republic of Macedonia">The former Yugoslav Republic of Macedonia</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Denmark">Denmark</option>
<option value="Togo">Togo</option>
<option value="Uganda">Uganda</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="Armenia">Armenia</option>
<option value="Bolivia (Plurinational State of)">Bolivia (Plurinational State of)</option>
<option value="Panama">Panama</option>
<option value="Yemen">Yemen</option>
<option value="Benin">Benin</option>
<option value="Finland">Finland</option>
<option value="Liberia">Liberia</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Dominica">Dominica</option>
<option value="Lithuania">Lithuania</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Norway">Norway</option>
<option value="Latvia">Latvia</option>
<option value="Madagascar">Madagascar</option>
<option value="Mali">Mali</option>
<option value="Angola">Angola</option>
<option value="Georgia">Georgia</option>
<option value="Burkina Faso">Burkina Faso</option>
<option value="Kuwait">Kuwait</option>
<option value="Paraguay">Paraguay</option>
<option value="Serbia">Serbia</option>
<option value="Congo">Congo</option>
<option value="Zambia">Zambia</option>
<option value="Chad">Chad</option>
<option value="Djibouti">Djibouti</option>
<option value="Malta">Malta</option>
<option value="Seychelles">Seychelles</option>
<option value="Cyprus">Cyprus</option>
<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
<option value="Belize">Belize</option>
<option value="Mauritania">Mauritania</option>
<option value="Antigua and Barbuda">Antigua and Barbuda</option>
<option value="Niger">Niger</option>
<option value="Mongolia">Mongolia</option>
<option value="Gabon">Gabon</option>
<option value="Estonia">Estonia</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="Bahamas">Bahamas</option>
<option value="Suriname">Suriname</option>
<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
<option value="Gambia">Gambia</option>
<option value="Brunei Darussalam">Brunei Darussalam</option>
<option value="Iceland">Iceland</option>
<option value="Central African Republic">Central African Republic</option>
<option value="Slovenia">Slovenia</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Bahrain">Bahrain</option>
<option value="Botswana">Botswana</option>
<option value="Democratic People's Republic of Korea">Democratic People's Republic of Korea</option>
<option value="Namibia">Namibia</option>
<option value="Turkmenistan">Turkmenistan</option>
<option value="Malawi">Malawi</option>
<option value="China, Macao Special Administrative Region">China, Macao Special Administrative Region</option>
<option value="Oman">Oman</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Cabo Verde">Cabo Verde</option>
<option value="Comoros">Comoros</option>
<option value="Swaziland">Swaziland</option>
<option value="Mozambique">Mozambique</option>
<option value="Qatar">Qatar</option>
<option value="Tonga">Tonga</option>
<option value="Lesotho">Lesotho</option>
<option value="Montenegro">Montenegro</option>
<option value="Guinea-Bissau">Guinea-Bissau</option>
<option value="Samoa">Samoa</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Equatorial Guinea">Equatorial Guinea</option>
<option value="Liechtenstein">Liechtenstein</option>
<option value="Maldives">Maldives</option>
<option value="Monaco">Monaco</option>
<option value="Canada">Canada</option>
<option value="Nauru">Nauru</option>
<option value="Andorra">Andorra</option>
<option value="Kiribati">Kiribati</option>
<option value="Vanuatu">Vanuatu</option>
<option value="Sao Tome and Principe">Sao Tome and Principe</option>
<option value="Tuvalu">Tuvalu</option>
<option value="American Samoa">American Samoa</option>
<option value="San Marino">San Marino</option>
<option value="New Caledonia">New Caledonia</option>
<option value="Marshall Islands">Marshall Islands</option>
<option value="Western Sahara">Western Sahara</option>
<option value="Palau">Palau</option>
			</select>
			<br />
			<button class="btn btn-comparison"> Figure Generation </button>
		</form>

	</div>

	<div id="copywrite">
		<div class="container">
			<div class="row">
				<div class="span12">
					<p>© 2018-2020 CSB Group, YorkU. All right reserved.
						&nbsp;&nbsp;Built by Xuyang H. @CSB Group, YorkU. version 1.0
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="floating-logo">
			<img alt="image" class="img-lc1-legend" id="logo" src="../static/logo.jpg"
				 style="width:100px; height:50px" >
	</div>

</html>
