/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f3f3f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #75aaff;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #1a5fce;
    color: white;
}
/* Copywrite
-------------------------------------------------- */
#copywrite p {
  position: fixed;
  bottom: 0;
  padding: 10px 0;
	margin: 0;
  width: 100%;
  text-align: center;
  background: none repeat scroll 0 0 #3d3d3d;
  color: #E6D6D6;
}



.floating-logo {
	position: absolute;
	bottom: 10px;
	right: 1%;
	z-index: 5;
	padding: 5px;
	border: 0px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 20px;
	padding-right: 5px;
}
